import pandera as pa
from pandera import Column, DataFrameSchema, Check, Index

{% for class_name, class_def in classes.items() %}
{{ class_name.upper() }}_SCHEMA = DataFrameSchema({
    {% for attr_name, attr_def in (class_def.attributes or {}).items() -%}
    {% if attr_name %}
    "{{ attr_name }}": Column(
        {{ 'str' if attr_def and attr_def.get('range', 'string') == 'string' else 'str' }},
        nullable={{ 'False' if attr_def and attr_def.get('required', False) else 'True' }}
    ),
    {%- endif %}
    {%- endfor %}
},
{% if class_def.get('unique_keys') %}
    unique=[{% for key, key_def in (class_def.get('unique_keys') or {}).items() %}{% for attr in (key_def.get('unique_key_slots') or []) %}"{{ attr }}", {% endfor %}{% endfor %}],
{% endif %}
    strict=True,
    coerce=True,
)
{% endfor %}